body {
	margin:0px;
	background-color: rgba(0, 0, 0, 0);
	color:#FFFFFF;
}

#board {
	position:absolute;
	top:0px;
	left:0px;
	width:1920px;
	height:1080px;
}

#no-board {
	position:absolute;
	top:0px;
	left:0px;
	width:1920px;
	height:1080px;
}

@font-face {
	font-family: 'RocknRollOne';
	src: url('../fonts/RocknRoll_One/RocknRollOne-Regular.ttf');
}


#round {
	position:absolute;
	left: 543px;
	top: 8px;
	width: 827px;
	height: 57px;
	line-height: 57px;
	font-family: 'RocknRollOne';
	font-size: 42px;
	text-align: center;
	text-shadow: -1px -1px 0px #00224e;
	letter-spacing: 0.05em;
}

#round_vertical {
	position:absolute;
	left: 171px;
	top: 8px;
	width: 1581px;
	height: 58px;
	line-height: 58px;
	font-family: 'RocknRollOne';
	font-size: 42px;
	text-align: center;
	text-shadow: -1px -1px 0px #00224e;
	letter-spacing: 0.05em;
}

.score {
	position:absolute;
	top: 957px;
	width: 110px;
	height: 110px;
	line-height: 110px;
	font-family: 'RocknRollOne';
	font-size: 113px;
	text-align: center;
	text-shadow:
		0px 4px 2px #00224e,
		1px 0px 2px #00224e,
		-1px 0px 2px #00224e;
	letter-spacing: 0.05em;
}

#team1_score {
	left: 30px;
    display: flex;
    justify-content: center;
}

#team2_score {
	left: 1785px;
    display: flex;
    justify-content: center;
}

.team-name {
	position:absolute;
	top: 8px;
	width: 827px;
	height: 57px;
	line-height: 57px;
	font-family: 'RocknRollOne';
	font-size: 42px;
	text-shadow: 
		1px  1px 4px #000931,
		1px -1px 4px #000931,
		-1px  1px 4px #000931,
		-1px -1px 4px #000931;
	letter-spacing: 0.05em;
}

.team-name-vertical {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;

	position:absolute;
	top: 45px;
	width: 104px;
	height: 914px;
	line-height: 104px;
	font-family: 'RocknRollOne';
	font-size: 53px;
	text-align: left;
	text-shadow: 
		1px  1px 4px #000931,
		1px -1px 4px #000931,
		-1px  1px 4px #000931,
		-1px -1px 4px #000931;
	letter-spacing: 0.01em;
}

.orange-color {
	color: #ffdfb8;
}

.blue-color {
	color: #efeaff;
}

#team1_name {
	left: 21px;
	text-align: start;
	text-shadow: 1px -4px 4px #011f5f;
}

#team1_name_vertical {
	left: 30px;
	text-shadow: 1px -4px 4px #011f5f;
}

#team2_name {
	left: 1077px;
	text-align: end;
	text-shadow: 1px -4px 4px #011f5f;
}

#team2_name_vertical {
	left: 1790px;
	text-shadow: 1px -4px 4px #011f5f;
}

.orange-player-name {
	position:absolute;
	width: 308px;
	height: 86px;
	line-height: 42px;
	font-family: 'RocknRollOne';
	font-size: 36px;
	text-align: center;
	text-shadow: 
		 1px  1px 4px #311d00,
		 1px -1px 4px #311d00,
		-1px  1px 4px #311d00,
		-1px -1px 4px #311d00;
	letter-spacing: 0.05em;
}

#player_one {
	left: 189px;
	top: 986px;
}

#player_two {
	left: 498px;
	top: 986px;
}

#player_three {
	left: 189px;
	top: 1029px;
}

#player_four {
	left: 498px;
	top: 1029px;
}

.blue-player-name {
	position:absolute;
	width: 308px;
	height: 86px;
	line-height: 42px;
	font-family: 'RocknRollOne';
	font-size: 36px;
	text-align: center;
	text-shadow: 
		 1px  1px 4px #000931,
		 1px -1px 4px #000931,
		-1px  1px 4px #000931,
		-1px -1px 4px #000931;
	letter-spacing: 0.05em;
}

#player_five {
	left: 1115px;
	top: 986px;
}

#player_six {
	left: 1424px;
	top: 986px;
}

#player_seven {
	left: 1115px;
	top: 1029px;
}

#player_eight {
	left: 1424px;
	top: 1029px;
}